[submodule "software-landing-page"]
  path = software-landing-page
  url = https://github.com/itsayushk19/software-landing-page.git


[submodule "pixel-excavators"]
  path = pixel-excavators 
  url = https://github.com/itsayushk19/pixel-excavators.git

[submodule "task-manager-landing"]
  path = pixel-excavators 
  url = https://github.com/itsayushk19/task-manager-landing.git
