@import "var";

.pn_hero{
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    flex-wrap: nowrap;
    justify-content: space-between;

    .pn_herobg{
        width: 100%;
        height: 150vh;
        z-index: -9999;
        background-image: linear-gradient(to bottom, black, rgba(0,0,0,0) );
        opacity: 0.5;
        z-index: 999;
        position: absolute;
    }

    h1,h2,h3{
        text-transform: uppercase;
        font-family: $primary_font;
        font-weight: 1000;
    }

    .pn_herotext{
        padding: 10rem 3rem 3rem 3rem;
        z-index: 999999;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        h1{
            color: $light_color;
            font-size: 2vw;
            margin-bottom: 10vh;

            div{
                display: inline;
            }

            span{
                font-size: 3vw;
                text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
            }

            span:not(:first-child) {
                margin-left: -0.3em;
              }
            
        }
        h2{
            color: $highlight_color;
            filter: brightness();
            font-size: 8vw;
        }
        div.highlight_line{
            text-align: left;
            h3{
                font-size: 11vw;
                color: $light_color;
                filter: brightness(1.2);


            }
        }
        div.bg_line{
            margin-top: 2rem;
            color: $highlight_color ;
            max-width: 50%;
            font-style: italic;
            padding: 0.5rem;
            font-size: 2rem;
            text-align: center;
            margin: auto;
            font-weight: 800;
            text-transform: uppercase;

            
            span{
                font-size: 2rem;
            }
        }
    }

    .pn_textdivide{
        z-index: 999999;
        width: 75%;
        margin: 0 auto;
        background-color: black;
        display: flex;
        flex-direction: row;
        padding: 1vh;
        border-radius: 100px;
        align-items: center;
        font-size: 2.5rem;
        text-align: center;
        color: $highlight_color;
        text-transform: uppercase;

        div{
            margin: 0 auto;
        }

        .pn_hrzline{
            width: 10%;
            height: 100%;
            justify-content: space-evenly;
            display: flex;
            z-index: 99999999;
            flex-direction: column;
            .pn_hrzlineitem{
                width: 100%;
                border-radius: 100px;
                filter: brightness(0.3);
                height: 1vh;
                background-color: $complementary_color;
            }
        }

        .pn_hrztext{
            margin: 0 auto;
            font-size: 2vw;
            letter-spacing: .5vw;
            font-weight: 1000;
            width: 60%;
        }
    }

    .pn_herocta{
        width: 100%;
        text-align: center;
    }

}

.pn_herocta_msg{
    text-align: center;
    padding: 1rem;
    text-transform: capitalize;
    font-style: italic;
}
