
// Colors
$accent_color: #BA131A;
$primary_color: #244855;
$secondary_color: #874f41;
$complementary_color: #90AEAD;
$light_color: #FBE9D0;
$highlight_color: #E3B068;
$highlight_trans: 0.1s ease-in;

// Font
$primary_font: "Montserrat", sans-serif;