@import "var";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    font-size: 12px;
    font-family: "Montserrat";
}

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.pn_button_med{
    padding: 1.75rem 2.75rem;
}

.pn_button{
    font-weight: bold;
    background-color: inherit;
}

.pn_button_large{
    padding: 2rem 3rem;
    font-size: 2.5vw;
}

.pn_button_invert{
    background-size: 100% 200%;
    background-color: inherit;
    font-weight: bold;
    color: black;
    background-image: linear-gradient(to bottom, $highlight_color 50%, $secondary_color 50%);
    -webkit-transition: background-position 0.3s;
    -moz-transition: background-position 0.3s;
    transition: background-position 0.3s;
}

.pn_button_primary{
    background-color: $accent_color;
    color: black;
    text-transform: uppercase;

    &:hover{
        color: white !important;
        background-position: 0 100%;
    }
}

.pn_buttonR{
    font-weight: bold;
    background-color: inherit;
    border-radius: 100px;
}

p{
    font-size: 1.5rem;
    padding: 2rem;
}